[Desktop Entry]
Version=1.0
Type=Application
Name=JaPySoft DevControlEnterprise
Exec=firefox file:///home/dpv/devcontrolentrpise/index.html
Terminal=false
Categories=Science;Application;
StartupNotify=true
